{{#unless completed}}
<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    {{#if recurring}}
    <td>
        {{#if recDaily}}
        Daily
        {{/if}}
        {{#if recWeekly}}
        Weekly
        {{/if}}
        {{#if recMonthly}}
        Monthly
        {{/if}}
        {{#if recYearly}}
        Yearly
        {{/if}}
    </td>
    {{/if}}
    <td>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Complete</span>
            </label>
        </p>
    </td>
    <td><a class="waves-effect waves-light btn-small" id="del{{id}}" data-id="{{id}}">Delete</a></td>

    <td><a class="waves-effect waves-light btn-small" id="edit{{id}}" data-id="{{id}}">Edit</a></td>
</tr>
{{/unless}}

{{#if completed}}
{{!-- style to be grayed out or something --}}
<tr id="{{itemId}}">
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Complete</span>
            </label>
        </p>
    </td>
    <td><a class="waves-effect waves-light btn-small">Delete</a></td>
</tr>
{{/if}}